@model IEnumerable<bike_site.Models.Bikes>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The bike site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Our bikes</h2>
    <div class="row">
        @foreach (var bike in Model)
        {
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <contentful-image asset-id="@bike.Image.FirstOrDefault()?.SystemProperties.Id" width="100" />
                        <h5 class="card-title">Model: @bike.Model</h5>
                        <p class="card-text">@bike.Description</p>
                        <div class="mt-auto text-right">
                            <a href="@Url.Action("Details", "Home", new { id = bike.Slug })" class="btn btn-primary">More Information</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


</body>






</html>
